h1{
    text-align: center;
    border-style: solid;
}
.sections{
    display: flex;
    justify-content:space-around;
    border-style: solid;
    border-color: red;
}
.sectionTitle{
    border-style: solid;
    border-color: aqua;
}